.ant-menu-submenu>.ant-menu {
    background: transparent !important;
}

.ant-menu-item-selected {
    background-color: rgba(24, 144, 255, 0.15) !important;
}

.ant-menu-inline {
    border-right-color: transparent !important;
}