.ant-menu-submenu>.ant-menu {
    background: #9ddde2 !important;
}

.ant-menu-item-selected {
    background-color: rgba(24, 144, 255, 0.15) !important;
}

.ant-menu-inline,
.ant-menu-inline-collapsed {
    border-right-color: #9ddde2 !important;
}

a:hover {
    text-decoration: none;
}

.panel {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.panel-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.info {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 24px;
}

.btn {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .col-lg-6 {
        min-width: 800px !important;
    }
}